
.idea/discord.xml
.idea/modules.xml
.idea/NKNUSystem.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/aws.xml
.idea/misc.xml
.idea/NKNU_School_System.iml
.idea/misc.xml
.idea/misc.xml
